In [7]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/heartdisease/behavioral_risk_factor_data_heart_disease_stroke_prevention.csv

In [8]:
data = pd.read_csv("/kaggle/input/heartdisease/behavioral_risk_factor_data_heart_disease_stroke_prevention.csv", low_memory=False)

In [9]:
data.head()

,year,locationabbr,locationdesc,datasource,priorityarea1,priorityarea2,priorityarea3,priorityarea4,category,topic,...,data_value_footnote,confidence_limit_low,confidence_limit_high,categoryid,topicid,indicatorid,breakoutcategoryid,breakoutid,locationid,geolocation
0,2011,NV,Nevada,BRFSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Coronary Heart Disease,...,Statistically unstable estimates not presented...,NaN,NaN,1,T4,BR001,BOC03,AGE04,32.0,POINT(-117.07184056399967 39.493240390000494)
1,2011,NV,Nevada,BRFSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Coronary Heart Disease,...,Statistically unstable estimates not presented...,NaN,NaN,1,T4,BR001,BOC04,RAC02,32.0,POINT(-117.07184056399967 39.493240390000494)
2,2011,NV,Nevada,BRFSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Coronary Heart Disease,...,Statistically unstable estimates not presented...,NaN,NaN,1,T4,BR001,BOC03,AGE01,32.0,POINT(-117.07184056399967 39.493240390000494)
3,2011,NV,Nevada,BRFSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Coronary Heart Disease,...,Statistically unstable estimates not presented...,NaN,NaN,1,T4,BR001,BOC04,RAC07,32.0,POINT(-117.07184056399967 39.493240390000494)
4,2011,NV,Nevada,BRFSS,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Coronary Heart Disease,...,Statistically unstable estimates not presented...,NaN,NaN,1,T4,BR001,BOC04,RAC04,32.0,POINT(-117.07184056399967 39.493240390000494)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35004 entries, 0 to 35003
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        35004 non-null  int64
 1   locationabbr                35004 non-null  object
 2   locationdesc                35004 non-null  object
 3   datasource                  35004 non-null  object
 4   priorityarea1               2704 non-null   object
 5   priorityarea2               0 non-null      float64
 6   priorityarea3               11938 non-null  object
 7   priorityarea4               0 non-null      float64
 8   category                    35004 non-null  object
 9   topic                       35004 non-null  object
 10  indicator                   35004 non-null  object
 11  break_out_category          35004 non-null  object
 12  break_out                   35004 non-null  object
 13  data_value_type             35004 non-null  object
 14  data_value_unit             35004 non-null  object
 15  data_value                  31850 non-null  float64
 16  data_value_footnote_symbol  3154 non-null   object
 17  data_value_footnote         3154 non-null   object
 18  confidence_limit_low        31482 non-null  float64
 19  confidence_limit_high       31482 non-null  float64
 20  categoryid                  35004 non-null  int64
 21  topicid                     35004 non-null  object
 22  indicatorid                 35004 non-null  object
 23  breakoutcategoryid          35004 non-null  object
 24  breakoutid                  35004 non-null  object
 25  locationid                  35004 non-null  float64
 26  geolocation                 34298 non-null  object
dtypes: float64(6), int64(2), object(19)
memory usage: 7.2+ MB

In [11]:
data['confidence_limit_low'].unique()

array([ nan,  0.4,  1.5,  1.6,  0.3,  1.4,  0.8,  0.9,  1.9,  1.7,  2.3,
        0.5,  0.2,  0.1,  0.6,  0.7,  1. ,  1.1,  1.2,  1.3,  1.8,  2. ,
        2.1,  2.2,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.3,
        3.2,  3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,
        4.4,  4.5,  4.6,  4.7,  4.9,  4.8,  5. ,  5.1,  5.4,  5.2,  5.3,
        5.5,  5.7,  5.6,  5.8,  6. ,  5.9,  6.1,  6.2,  6.3,  6.4,  6.5,
        6.6,  6.7,  6.8,  7. ,  6.9,  7.1,  7.4,  7.3,  7.2,  7.7,  7.5,
        7.9,  7.6,  7.8,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.7,  8.6,
        8.9,  9. ,  8.8,  9.1,  9.5,  9.4,  9.2,  9.3,  9.7,  9.6,  9.8,
        9.9, 10. , 10.1, 10.3, 10.2, 10.4, 10.5, 10.6, 10.7, 10.8, 10.9,
       11. , 11.1, 11.2, 11.3, 11.4, 11.5, 12.1, 11.8, 11.6, 12. , 11.7,
       11.9, 12.3, 12.2, 12.4, 12.6, 12.7, 12.5, 12.8, 12.9, 13.1, 13. ,
       13.4, 13.2, 13.3, 13.6, 13.5, 13.9, 13.8, 14. , 13.7, 14.2, 14.3,
       14.5, 14.1, 14.4, 14.6, 14.7, 14.8, 14.9, 15.1, 15.2, 15.3, 15.7,
       15. , 15.4, 15.5, 15.8, 15.6, 15.9, 16. , 16.1, 16.2, 16.5, 16.4,
       16.3, 16.6, 16.7, 16.8, 16.9, 17. , 17.2, 17.1, 17.5, 17.4, 17.3,
       17.7, 17.8, 17.6, 17.9, 18.1, 18.3, 18. , 18.2, 18.4, 18.5, 18.6,
       18.9, 18.8, 19.1, 19. , 18.7, 19.2, 19.3, 19.4, 19.6, 19.5, 20.2,
       19.7, 19.8, 20.1, 20. , 19.9, 20.5, 20.3, 20.4, 20.8, 20.7, 20.9,
       20.6, 21. , 21.3, 21.1, 21.2, 21.4, 21.6, 21.5, 21.7, 21.8, 22. ,
       21.9, 22.1, 22.2, 22.4, 22.3, 22.5, 22.6, 23.2, 22.7, 22.8, 22.9,
       23. , 23.4, 23.1, 23.6, 23.3, 23.7, 23.5, 23.8, 23.9, 24. , 24.1,
       24.4, 24.5, 24.3, 24.2, 24.6, 24.8, 24.7, 24.9, 25.2, 25. , 25.3,
       25.1, 25.5, 25.4, 25.6, 25.8, 26. , 25.7, 25.9, 26.3, 26.1, 26.2,
       26.6, 26.4, 27. , 26.5,  0. , 26.7, 26.8, 26.9, 27.2, 27.1, 27.5,
       27.6, 27.3, 27.4, 27.8, 27.7, 28. , 27.9, 28.2, 28.1, 28.3, 28.4,
       28.6, 28.7, 28.5, 28.9, 29.1, 28.8, 29. , 29.3, 29.2, 29.8, 29.6,
       29.4, 29.5, 30. , 29.9, 29.7, 30.1, 30.2, 30.5, 30.4, 30.3, 30.6,
       30.8, 30.7, 30.9, 31. , 31.4, 31.1, 31.2, 31.3, 31.5, 31.7, 31.6,
       32. , 31.9, 31.8, 32.2, 32.1, 32.4, 32.9, 32.3, 32.6, 32.7, 32.5,
       33. , 32.8, 33.2, 33.3, 33.4, 33.1, 33.7, 33.8, 33.6, 33.5, 33.9,
       34.1, 34. , 34.2, 34.5, 34.3, 34.8, 34.4, 34.7, 34.6, 35. , 35.2,
       35.1, 34.9, 35.5, 35.3, 35.7, 35.4, 35.9, 35.8, 36. , 35.6, 36.1,
       36.2, 36.4, 36.3, 36.6, 36.9, 36.7, 36.5, 36.8, 37.1, 37. , 37.2,
       37.3, 37.5, 37.4, 37.6, 37.8, 37.7, 38. , 38.2, 37.9, 38.1, 38.3,
       38.6, 38.7, 38.5, 38.9, 38.4, 38.8, 39.2, 39.4, 39.7, 39. , 40.2,
       39.5, 39.1, 39.3, 39.8, 39.6, 39.9, 40.1, 40.7, 40.3, 40.4, 40. ,
       40.5, 40.6, 40.9, 41. , 41.2, 40.8, 41.5, 41.1, 41.4, 41.3, 41.6,
       41.7, 41.8, 42. , 42.1, 42.4, 42.3, 42.5, 43. , 42.2, 42.6, 42.7,
       43.2, 42.8, 42.9, 43.4, 41.9, 43.1, 43.6, 43.5, 43.7, 43.8, 44. ,
       44.5, 44.3, 44.1, 44.2, 43.3, 44.7, 45. , 44.4, 44.9, 45.5, 45.4,
       43.9, 45.7, 45.2, 45.9, 45.1, 45.3, 48.1, 46.2, 44.6, 46.3, 50.8,
       46.4, 46.1, 46.6, 47. , 46.9, 46.5, 47.2, 47.5, 47.6, 47.4, 55.8,
       47.3, 47.7, 48. , 45.8, 47.9, 47.8, 48.5, 48.7, 45.6, 46.7, 47.1,
       49. , 46. , 48.8, 48.3, 46.8, 49.2, 48.9, 49.8, 49.5, 49.1, 49.9,
       49.4, 44.8, 48.6, 49.7, 49.6, 49.3, 50.1, 50.2, 50.6, 48.2, 50.3,
       58.1, 50.5, 51. , 50.4, 50.9, 50.7, 51.1, 51.4, 51.3, 50. , 51.5,
       51.7, 51.9, 57.4, 52.2, 51.8, 48.4, 52. , 52.3, 51.6, 53. , 53.6,
       52.4, 51.2, 52.1, 52.8, 52.5, 53.8, 52.7, 53.1, 53.5, 58. , 53.2,
       58.8, 54.3, 52.9, 54.4, 53.4, 54. , 52.6, 59.7, 53.7, 53.9, 54.7,
       55. , 54.8, 54.2, 54.1, 55.3, 54.5, 55.5, 53.3, 55.6, 55.1, 55.2,
       54.9, 57.7, 54.6, 56.2, 56. , 55.7, 56.3, 55.9, 56.1, 56.4, 60.5,
       57. , 56.9, 57.1, 56.8, 56.7, 57.8, 57.2, 56.5, 58.4, 57.6, 57.3,
       57.5, 59. , 57.9, 58.2, 58.5, 58.7, 59.1, 58.3, 59.4, 60.1, 58.9,
       58.6, 60. , 59.6, 59.2, 59.3, 60.2, 59.5, 60.8, 61. , 60.7, 61.4,
       60.9, 60.3, 59.8, 60.4, 59.9, 61.3, 61.5, 62.3, 61.7, 61.8, 61.9,
       62.4, 61.2, 62.1, 60.6, 61.1, 61.6, 62.6, 62. , 62.2, 63. , 62.9,
       63.4, 63.1, 63.3, 64.2, 62.5, 63.6, 62.7, 62.8, 56.6, 63.8, 63.7,
       63.5, 64.5, 63.9, 64.6, 66.1, 64.3, 65.1, 64.1, 65.3, 64.9, 65.5,
       65.6, 65.7, 66.4, 64.8, 65.2, 66. , 66.2, 63.2, 64.7, 64. , 65. ,
       64.4, 65.9, 67. , 66.7, 66.8, 66.5, 67.3, 66.3, 66.6, 67.9, 67.6,
       67.1, 67.7, 68.3, 68.1, 66.9, 67.2, 68.7, 69.1, 67.8, 68. , 65.8,
       67.4, 69.2, 68.4, 68.2, 68.5, 68.9, 69.5, 69.6, 69. , 70. , 68.8,
       69.8, 69.4, 69.3, 70.3, 70.1, 55.4, 70.9, 70.8, 70.7, 70.4, 70.2,
       68.6, 70.5, 69.9, 67.5, 71. , 71.6, 71.2, 71.4, 72.4, 71.5, 71.3,
       72.2, 71.7, 71.1, 72.1, 72.3, 72. , 72.5, 69.7, 73.1, 72.7, 72.9,
       72.8, 73.5, 73. , 72.6, 75.7, 73.6, 73.4, 73.8, 71.9, 70.6, 73.3,
       73.9, 73.2, 74. , 74.3, 73.7, 74.5, 74.7, 74.2, 74.4, 74.6, 74.8,
       75. , 65.4, 75.1, 74.1, 74.9, 79. , 75.5, 71.8, 75.9, 75.4, 75.8,
       76. , 75.2, 75.6, 75.3, 76.1, 76.6, 76.3, 76.8, 76.2, 76.9, 76.5,
       76.4, 81.3, 76.7, 77.1, 77. , 77.4, 77.3, 77.5, 77.6, 77.9, 77.2,
       78. , 77.7, 78.1, 77.8, 78.3, 78.2, 78.5, 78.4, 78.8, 78.7, 78.6,
       78.9, 80.4, 79.1, 79.2, 79.4, 79.3, 80. , 79.7, 79.8, 79.5, 79.9,
       80.1, 79.6, 80.2, 80.3, 80.5, 81.2, 80.6, 80.8, 81. , 80.7, 81.1,
       80.9, 81.4, 81.6, 81.7, 82. , 81.5, 81.8, 82.1, 81.9, 82.3, 82.9,
       82.4, 82.2, 82.6, 82.5, 82.8, 83. , 82.7, 83.1, 83.4, 83.3, 83.2,
       83.6, 83.5, 83.9, 83.7, 84.2, 84. , 83.8, 84.1, 84.6, 84.5, 84.4,
       84.3, 84.7, 85.1, 84.8, 84.9, 85. , 85.6, 85.2, 85.5, 85.3, 85.4,
       85.9, 86. , 85.7, 86.1, 85.8, 86.3, 86.2, 86.4, 86.5, 86.7, 86.6,
       86.9, 86.8, 87.2, 87. , 87.1, 87.3, 87.5, 87.7, 87.8, 87.4, 87.6,
       87.9, 88.1, 88.2, 88.3, 88. , 88.7, 88.6, 88.4, 88.5, 89. , 88.8,
       88.9, 89.1, 89.3, 89.4, 89.2, 89.6, 89.5, 89.7, 89.9, 89.8, 90.1,
       90. , 90.2, 90.7, 90.8, 90.3, 91.1, 90.6, 90.9, 90.5, 91.2, 91.3,
       91.5, 90.4, 91. , 91.4, 91.9, 91.6, 91.7, 92.4, 92.1, 91.8, 92.8,
       92.2, 92.5, 92. , 92.3, 93.1, 92.9, 93.4, 92.6, 92.7, 93.5, 93. ,
       93.3, 93.2, 93.7, 94.2, 93.6, 93.8, 93.9, 94. , 94.3, 94.1, 94.5,
       94.4, 94.7, 94.8, 94.9, 95. , 94.6, 95.1, 95.4, 95.5, 95.3, 95.8,
       95.6, 95.9, 96. , 95.7, 95.2, 96.5, 96.4, 96.1, 97.3])

In [12]:
data.columns

Index(['year', 'locationabbr', 'locationdesc', 'datasource', 'priorityarea1',
       'priorityarea2', 'priorityarea3', 'priorityarea4', 'category', 'topic',
       'indicator', 'break_out_category', 'break_out', 'data_value_type',
       'data_value_unit', 'data_value', 'data_value_footnote_symbol',
       'data_value_footnote', 'confidence_limit_low', 'confidence_limit_high',
       'categoryid', 'topicid', 'indicatorid', 'breakoutcategoryid',
       'breakoutid', 'locationid', 'geolocation'],
      dtype='object')

## Import library

In [13]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from lightgbm import LGBMClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score, f1_score, mean_absolute_error, mean_squared_error

In [14]:
columns = ['year', 'category', 'topic', 'indicator', 'data_value','confidence_limit_low','confidence_limit_high']

## Lọc các cột cho tập dữ liệu

In [15]:
data_train =data[columns]
data_train

,year,category,topic,indicator,data_value,confidence_limit_low,confidence_limit_high
0,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,NaN,NaN,NaN
1,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,NaN,NaN,NaN
2,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,NaN,NaN,NaN
3,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,NaN,NaN,NaN
4,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...
34999,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,NaN,NaN,NaN
35000,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,NaN,NaN,NaN
35001,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,NaN,NaN,NaN
35002,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,NaN,NaN,NaN
35003,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,NaN,NaN,NaN

In [16]:
data_train.isna().sum()

year                        0
category                    0
topic                       0
indicator                   0
data_value               3154
confidence_limit_low     3522
confidence_limit_high    3522
dtype: int64

## Xử lý giá trị null

In [17]:
data_train['data_value'].fillna(data_train['data_value'].mean(), inplace = True)
data_train['confidence_limit_low'].fillna(data_train['confidence_limit_low'].mean(), inplace = True)
data_train['confidence_limit_high'].fillna(data_train['confidence_limit_high'].mean(), inplace = True)
data_train

/tmp/ipykernel_33/2894356728.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_train['data_value'].fillna(data_train['data_value'].mean(), inplace = True)
/tmp/ipykernel_33/2894356728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['data_value'].fillna(data_train['data_value'].mean(), inplace = True)
/tmp/ipykernel_33/2894356728.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_train['confidence_limit_low'].fillna(data_train['confidence_limit_low'].mean(), inplace = True)
/tmp/ipykernel_33/2894356728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['confidence_limit_low'].fillna(data_train['confidence_limit_low'].mean(), inplace = True)
/tmp/ipykernel_33/2894356728.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_train['confidence_limit_high'].fillna(data_train['confidence_limit_high'].mean(), inplace = True)
/tmp/ipykernel_33/2894356728.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['confidence_limit_high'].fillna(data_train['confidence_limit_high'].mean(), inplace = True)

,year,category,topic,indicator,data_value,confidence_limit_low,confidence_limit_high
0,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
1,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
2,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
3,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
4,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
...,...,...,...,...,...,...,...
34999,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
35000,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
35001,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
35002,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
35003,2011,Cardiovascular Diseases,Coronary Heart Disease,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076

## Tiền xử lý dữ liệu

In [18]:
lebelE = LabelEncoder()
data_train['topic'] = lebelE.fit_transform(data_train[['topic']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/tmp/ipykernel_33/2995355987.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['topic'] = lebelE.fit_transform(data_train[['topic']])

In [19]:
data_train.head()

,year,category,topic,indicator,data_value,confidence_limit_low,confidence_limit_high
0,2011,Cardiovascular Diseases,2,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
1,2011,Cardiovascular Diseases,2,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
2,2011,Cardiovascular Diseases,2,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
3,2011,Cardiovascular Diseases,2,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076
4,2011,Cardiovascular Diseases,2,Prevalence of coronary heart disease among US ...,36.370628,32.607573,40.178076

# Chia tập dữ liệu

In [20]:
y = data_train['topic']
X = data_train.drop(columns='topic', axis=1)
X_train_full, X_val_full, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
# Chỉ dữ lại các cột đã chọn
categorical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 
                    and X_train_full[cname].dtype == "object"]
numerical_cols = [cname for cname in X_train_full.columns if 
                  X_train_full[cname].dtype in ['int64', 'float64']]
my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_val = X_val_full[my_cols].copy()

## Đóng gói quá trình

In [22]:
# Tạo pipeline cho tiền xử lý

# Cho number
numerical_transformer = SimpleImputer(strategy='mean')

# Cho kiểu category
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bộ tiền xử lý
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ]
)

## Xây dụng model

In [26]:
random_model = RandomForestClassifier(random_state=42)

params = { 
    'criterion': ['entropy'],
}

model = GridSearchCV(estimator=random_model, param_grid=params,
                           cv = 5,
                           n_jobs=-1, scoring="accuracy")
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', model)]).fit(X_train, y_train)

In [24]:
X_train

,category,year,data_value,confidence_limit_low,confidence_limit_high
24075,Risk Factors,2013,37.600000,35.200000,40.000000
26108,Risk Factors,2011,43.300000,41.100000,45.500000
32477,Risk Factors,2011,82.900000,81.200000,84.500000
776,Cardiovascular Diseases,2011,36.370628,32.607573,40.178076
480,Cardiovascular Diseases,2013,36.370628,32.607573,40.178076
...,...,...,...,...,...
16850,Risk Factors,2011,27.900000,26.200000,29.700000
6265,Risk Factors,2013,7.900000,6.700000,9.400000
11284,Risk Factors,2014,19.700000,11.400000,32.100000
860,Cardiovascular Diseases,2011,36.370628,32.607573,40.178076
15795,Risk Factors,2013,26.700000,25.800000,27.600000

## Predict Model

In [25]:
preds = my_pipeline.predict(X_val)
score = mean_absolute_error(y_val, preds)
print('MAE:', score)
accuracy_score(y_val, preds)

MAE: 1.1071275532066847

0.6667618911584059

## Không tham số: Entropy
- MAE: 1.1071275532066847
- 0.6667618911584059
## Với  'max_depth': range(3,16)
- MAE: 1.2583916583345236
- 0.6170547064705042
## Với 'max_depth': range(3,20)
- MAE: 1.1302671046993287
- 0.6597628910155692
## Với 'max_depth': range(3,50),
- MAE: 1.1139837166119126
- 0.6636194829310098
## Voi  'max_leaf_nodes': range(3,100)
- MAE: xxxx
- 0.533619482931009

## Voi 'max_depth': range(3,100), 'max_leaf_nodes': range(3,100)
## Voi 'max_features': list(range(0,20))
- MAE: 1.1185544922153978
- 0.6643336666190545

## Voi     'criterion': ['entropy', 'gini'], 'n_estimators': [25, 50, 100, 150, 200], 'max_features': ['sqrt', 'log2', None], 'max_depth': [3, 6, 9],  'max_leaf_nodes': range(3,30)
- MAE: 1.4185544922153978
- 0.43336666190545